# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
tmp/
.DS_Store
.idea/
.vscode/

# Flutter specific ignores
skainet_mobile/.dart_tool/
skainet_mobile/build/
skainet_mobile/.flutter-plugins
skainet_mobile/.flutter-plugins-dependencies
skainet_mobile/.metadata
skainet_mobile/pubspec.lock
